
<div class="article-section">
    <div class="article-image-fullwidth">
        <div class="article-image-fullwidth__container">
            <img src="@@article-img" 
                 alt="@@article-title" 
                 loading="lazy" 
                 class="article-image-fullwidth__img">
        </div>
    </div>
    
    <div class="article-content-fullwidth">
        <div class="article-content-fullwidth__wrapper">
            <h1 class="article-content-fullwidth__title">@@article-title</h1>
            <div class="article-content-fullwidth__subtitle">@@article-subtitle</div>
            <div class="article-content-fullwidth__text">@@article-content</div>
        </div>
    </div>
</div>