<div class="card">
    <div class="card__image">
        <picture>
            <source srcset="@@img-sm.webp" media="(max-width: 480px)">
            <source srcset="@@img-md.webp" media="(max-width: 800px)">
        </picture>
    </div>
    <div class="card__body">
        <h3 class="card__title">@@title</h3>
        <p class="card__description">@@description</p>
        <div class="card__details">
            <div class="card__price">@@price</div>
            <div class="card__weight">@@weight</div>
        </div>
        <button class="card__button">
            <a href="./index9.html">подробнее</a>
        </button>
    </div>
</div>

