<footer>
    <div class="footer-top-strip"></div>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column">
                <div class="logo-sectionn">
                    <div class="cafe-logo">
                        <div class="logo-circle">
                            <img src="./assets/images/logo.webp">
                        </div>
                        <div class="cafe-name">КРАФТ РЁБРА</div>
                    </div>
                    <div class="cafe-description">
                        Ароматные, тающие во рту рёбра и идеальные к ним авторские коктейли. Вкус, ради которого возвращаются.
                    </div>
                    <div class="social-icons">
    <a href="https://t.me/rebracraft" title="Телеграм" target="_blank" rel="noopener noreferrer">
        <img src="./assets/images/tg.webp">
    </a>
    <a href="https://vk.com/rebracraft" title="ВКонтакте" target="_blank" rel="noopener noreferrer">
        <img src="./assets/images/vk.webp">
    </a>
</div>
                </div>
            </div>

            <div class="footer-column">
                <div class="footer-column-title">Навигация</div>
                <div class="footer-nav">
                    <a href="./index.html" class="nav-link">Главная</a>
                    <a href="./index2.html" class="nav-link">Меню</a>
                    <a href="./index3.html" class="nav-link">О нас</a>
                    <a href="./index4.html" class="nav-link">Контакты</a>
                    <a href="./index5.html" class="nav-link">Отзывы</a>
                    <a href="./index6.html" class="nav-link">События</a>
                    <a href="./index8.html" class="nav-link">Корзина</a>
                </div>
            </div>
            
            <div class="footer-column">
                <div class="footer-column-title">Контакты</div>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-text">г. Нижний Новгород, ул. Ошарская, 9</div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="contact-text">+7 (910) 894-71-22</div>
                    </div>
                </div>
            </div>
            <div class="footer-column">
                <div class="footer-column-title">Режим работы</div>
                <div class="working-hours">
                    <div>Вс-Чт 12:00-00:00</div>
                    <div>Пт-Сб 12:00-02:00</div>
                </div>
            </div>
        </div>
    </div>
</footer>