<div class="otziv">
    <span class="otziv__title">@@title</span>
    <p class="otziv__data">@@data</p>
    <div class="otziv__img">
        <div><img src="./assets/images/star.webp" alt="звезда"></div>
        <div><img src="./assets/images/star.webp" alt="звезда"></div>
        <div><img src="./assets/images/star.webp" alt="звезда"></div>
        <div><img src="./assets/images/star.webp" alt="звезда"></div>
        <div><img src="./assets/images/star.webp" alt="звезда"></div>
    </div>
    <p class="otziv__text">@@text</p>
</div>